<div class="container-xxl feature py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Why Choosing Us!</p>
                <h1 class="display-5 mb-4">Few Reasons Why People Choosing Us!</h1>
                <p class="mb-4">We offer customized services to meet your unique business needs,
                     ensuring that our solutions align perfectly with your goals and requirements.</p>
                <a class="btn btn-primary py-3 px-5" href="">Explore More</a>
            </div>
            <div class="col-lg-6">
                <div class="row g-4 align-items-center">
                    <div class="col-md-6">
                        <div class="row g-4">
                            <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-check fa-3x text-primary mb-3"></i>
                                    <h4 class="mb-3">Fast Executions</h4>
                                    <p class="mb-3">We understand that time is of the essence in today’s fast-paced business environment. Our streamlined processes and efficient workflows ensure that your projects are executed quickly and accurately, allowing you to stay ahead of the competition.</p>
                                    <a class="fw-semi-bold" href="">Read More <i
                                            class="fa fa-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                            <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                <div class="feature-box border rounded p-4">
                                    <i class="fa fa-check fa-3x text-primary mb-3"></i>
                                    <h4 class="mb-3">Guide & Support</h4>
                                    <p class="mb-3">At Flits Designs, we believe in empowering our clients through comprehensive guidance and unwavering support. Our team of experts is always available to assist you, ensuring you get the most out of our services and achieve your business goals</p>
                                    <a class="fw-semi-bold" href="">Read More <i
                                            class="fa fa-arrow-right ms-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeIn" data-wow-delay="0.7s">
                        <div class="feature-box border rounded p-4">
                            <i class="fa fa-check fa-3x text-primary mb-3"></i>
                            <h4 class="mb-3">Financial Secure</h4>
                            <p class="mb-3">Your financial security is our top priority. Our platform offers robust and secure financial transaction solutions, seamlessly integrating with MTN, Airtel, and major banking institutions. You can trust Flits Designs to handle your financial operations with the utmost care and security.</p>
                            <a class="fw-semi-bold" href="">Read More <i class="fa fa-arrow-right ms-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>